.RegistrationTitle {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #121417;
}

.modalOpenBtn {
  all: unset;
  border: none;
}

.closeIcon {
  fill: transparent;
  stroke: #121417;
  stroke-width: 0px;
}
