.registerContainer {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  /* z-index: 1000; */
}

.registerContent {
  width: 566px;
  height: 600px;
  padding: 64px;
  border-radius: 30px;
  background-color: #ffffff;
  position: absolute;
}

.registerTitle {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #121417;
  margin-bottom: 20px;
}

.registerText {
  margin-bottom: 40px;
}

.registerForm {
  display: flex;
  flex-direction: column;
}

.registerInputWrap {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.registerInput {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  width: 438px;
  height: 54px;
}

.modalCloseBtn {
  all: unset;
  border: none;
}

.closeIcon {
  fill: transparent;
  stroke: #121417;
  stroke-width: 0px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.registerInput::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #121417;
}

.registerInput:last-child {
  margin-bottom: 40px;
}

.registerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  border-radius: 12px;
  padding: 16px;
  width: 438px;
  height: 60px;
  background: #f4c550;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  color: #121417;
}
