.homePageSection {
}

.homePageContainer {
  max-width: 1440px;
  padding-left: 64px;
  padding-right: 64px;
  height: 48px;
  margin: 0 auto;
}

.heroWrapper {
  display: flex;
  border: solid 2px red;
}

.homeHeading {
  display: flex;
}

.headingWrapper {
  width: 720px;
  height: 530px;
  padding: 98px 108px 98px 64px;
}

.heroTitle {
  width: 548px;
  height: 112px;
  color: #121417;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.96px;
  margin-bottom: 32px;
}

.heroSpan {
  color: #121417;
  font-family: Roboto;
  font-size: 48px;
  font-style: italic;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.96px;
  background-color: #cbded3;
  padding: 0 6px;
  border-radius: 10px;
}

.heroText {
  width: 471px;
  height: 66px;
  color: #121417;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: -0.32px;
  margin-bottom: 64px;
}

.startedBtn {
  width: 267px;
  height: 60px;
  display: flex;
  padding: 16px 88px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #9fbaae;
  border: none;
  color: #121417;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.556;
}

.homeImage {
  display: flex;
}

.imageWrapper {
  border: solid 2px orange;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero-container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4)
      ),
      url(../../images/mainImage2x.jpg);
  }
}

.heroImage {
  width: 568px;
  height: 530px;
}
