.homePageSection {
}

.homePageContainer {
  max-width: 1440px;
  padding-left: 64px;
  padding-right: 64px;
  margin: 0 auto;
}

.heroWrapper {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.headingWrapper {
  width: 720px;
  height: 530px;
  padding: 98px 108px 98px 64px;
  border-radius: 30px;
  background: #f8f8f8;
}

.heroTitle {
  width: 548px;
  height: 112px;
  color: #121417;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.96px;
  margin-bottom: 32px;
}

.heroSpan {
  color: #121417;
  font-family: Roboto;
  font-size: 48px;
  font-style: italic;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.96px;
  background-color: #cbded3;
  padding: 0 6px;
  border-radius: 10px;
}

.heroText {
  width: 471px;
  height: 66px;
  color: #121417;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: -0.32px;
  margin-bottom: 64px;
}

.startedBtn {
  width: 267px;
  height: 60px;
  display: flex;
  padding: 16px 88px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #9fbaae;
  border: none;
  color: #121417;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.556;
}

.homeImage {
  display: flex;
}

.imageWrapper {
  position: relative;
  width: 568px;
  height: 530px;
  border-radius: 30px;
  background: #cbded3;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero-container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4)
      ),
      url(/public/images/head2Opt.jpg);
  }
}

.heroImage {
  width: 339px;
  height: 339px;
  position: absolute;
  top: 47.2%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 1;
}

.mac,
.apple {
  position: absolute;
  z-index: 2;
  top: 83.4%; /* Adjust the positioning as needed */
  left: 50%;
  transform: translate(-50%, -50%);
}

.apple {
  position: absolute;
  z-index: 3;
}

.infoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-inline-size: 1312px;
  height: 116px;
  padding: 40px 122px 40px 123px;
  border-radius: 30px;
  border: 1.5px dashed #9fbaae;
  border-width: 1.5px;
  stroke-dasharray: 4 6;
}

.infoList {
  display: flex;
  justify-content: center;
  height: 36px;
  gap: 100px;
}

.infoExperience,
.infoReviews,
.infoSubjects,
.infoTutors {
  display: flex;
  gap: 16px;
}

.infoExperience {
  width: 217px;
}

.infoReviews {
  width: 232px;
}

.infoSubjects,
.infoTutors {
  width: 159px;
}

.infoNumbers {
  display: flex;
  gap: 5px;
  color: #121417;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 114.286% */
  letter-spacing: -0.56px;
}

.infoText {
  color: rgba(18, 20, 23, 0.7);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
}
